#tooltip_username, #tooltip_password, #tooltip_pesan
{
	visibility	: hidden;
	margin-top  : 7px;
	position	: absolute;
	color 		: #fff;
	padding		: 7px 10px;
	background 	: #333;
	opacity		: 0; 
	z-index		: 9999;  
}

#tooltip_pesan
{
	width		: 290px; 
	margin-top  : 0px;
	text-align	: center;
}

#tooltip_username:before, #tooltip_password:before
{
	position		: absolute;
	content			: "";
	height			: 0;
	width			: 0;
	border 			: 10px solid transparent;
	bottom			: 25px;
	border-bottom 	: 10px solid #333;
}

/*COPYRIGHT KU STUDIOS*/