body
{ 
	background 	: #f8f8f8;
	font-size	: 15px; 
	font-family	: Corbel;
}

a{color: #00ff00;}
a:hover{color: #0000ff;}
a:visited{color: #dd88aa;}
	
.fl{float: left;}
.fr{float: right;}
		
.cb{clear: both;}

.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_20{margin-top:20px;}
.mt_30{margin-top:30px;}
.mt_40{margin-top:40px;}
.mt_50{margin-top:50px;}

.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_20{margin-bottom:20px;}
.mb_30{margin-bottom:30px;}
.mb_40{margin-bottom:40px;}
.mb_50{margin-bottom:50px;}

.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_20{margin-left:20px;}
.ml_30{margin-left:30px;}
.ml_40{margin-left:40px;}
.ml_50{margin-left:50px;}

.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_20{margin-right:20px;}
.mr_30{margin-right:30px;}
.mr_40{margin-right:40px;}
.mr_50{margin-right:50px;}

/*COPYRIGHT KU STUDIOS*/