#wrapper, 
#wrapper_form_edit_foto, .form,
#wrapper_menu
{
	width	: auto;
	height	: auto;
}

#modal_edit_foto
{
	color		: #fff; 
	margin 		: 150px 300px; 
	position 	: fixed;  
	visibility	: visible;
	width		: 500px;
	height		: 300px;
	background 	: #b82b2b;
	z-index		: 2000;
	transition	: 0.5s;
	transform 	: scale3d(0,0,0);
}

.modal_show
{
	visibility	: visible !important; 
}

.overlay_edit_foto
{
	position 	: fixed; 
	margin 		: -8px; 
	width		: 100%;
	height		: 100%;  
	visibility	: hidden;
	opacity		: 0; 
	z-index		: 1000;
	background 	: rgba(0,0,0,0.5);
	transition	: 0.5s;
}

.modal_show + .overlay_edit_foto
{
	visibility	: visible;
	opacity		: 1; 
}

button.close
{
	margin 		: 5px;
	font-size	: 12px;
	width		: 30px;
	height		: 30px;
	outline		: none;
	border 		: 1px solid #ccc;
	background 	: #ccc;
	transition	: 0.2s;
}

button.close:hover
{
	border 		: 1px solid #a6a6a6;
	transition	: 0.2s;
	cursor		: hand;
	background 	: #a6a6a6;
}

span.judul_modal
{
	font-size	: 20px;
	margin-left	: 10px;
}

#modal hr{border: 2px solid #fff;}

#wrapper_form_edit_foto{padding: 20px;}

.form{}

img.foto_lama, img.foto_baru
{
	width		: 150px;
	height		: 150px;
	background 	: #fff; 
	color: :#000;
}

.button_unggah, .button_unggah_change
{
	position 	: relative; 
	overflow	: hidden; 
	font-size	: 14px; 
	width		: auto;
	height		: auto;
	margin 		: -23px 110px;
	margin-right: 0px;
	padding		: 5px;   	
	background 	: #ccc;
	color		: #000; 
	outline		: none;
	border 		: 1px solid #ccc;
	transition	: 0.2s;
}

.button_unggah_change
{
	background 	: #000;
	color		: #fff; 
	border 		: 1px solid #000;
	margin-top	: -29px; 
	margin-left	: 180px;
}

.button_unggah:hover, .button_unggah_change:hover
{
	transition	: 0.2s;
	cursor		: hand;
	background 	: #a6a6a6;
	border 		: 1px solid #a6a6a6;
}

.button_unggah input[type="file"], .button_unggah_change input[type="file"]
{
	opacity		: 0;
	filter		: alpha(opacity=0);
	display		: block;
	position 	: absolute;
	top 		: 0;
	right 		: 0;
	margin 		: 0;
	padding 	: 0;
	z-index 	: 3000;
	cursor 		: pointer;
}

#wrapper_menu{}

#wrapper_top_menu
{
	width		: 240px;
	height		: auto;
	background	: #b82b2b;
	padding		: 10px; 
}

#wrapper_profil
{
	width		: 200px;
	height		: 200px;
	padding		: 20px; 
	background	: #ccc;
}

#wrapper_foto
{
	margin		: auto; 
	width		: 150px;
	height		: 150px; 
	background	: #fff;
}

button.edit_foto
{
	z-index				: 999; 
	position			: absolute;
	background 			: url("../../../../include/images/web/camera.png") #ccc no-repeat;
	background-size		: 20px; 
	background-position	: center; 
	width				: 30px;
	height				: 30px; 
	border				: 1px solid #000;
	transition			: 0.2s;
	opacity				: 0.3; 
	outline				: none;
}

button.edit_foto:hover
{
	cursor		: hand; 
	transition	: 0.2s;
	opacity		: 1; 
}

button.edit_foto:hover + #tooltip_edit
{
	visibility	: visible;
	opacity		: 1; 
	transition	: 0.2s;
}

#tooltip_edit
{
	visibility	: hidden;
	opacity		: 0;  
	font-size	: 12px; 
	position 	: absolute; 
	margin-top	: 3px;
	margin-left	: 35px;
	width		: auto; 
	height		: auto;
	padding		: 5px; 
	background 	: #000;
	color		: #fff;
	text-align	: center; 
	transition	: 0.2s;
}

#tooltip_edit:before
{
	position 		: absolute; 
	margin-left		: -19px;	 
	border 			: 7px solid transparent;
	border-right  	: 7px solid #333;
	content			: "";
}

#wrapper_foto img
{
	width	: 150px;
	height	: 150px; 
}

#wrapper_foto img:hover + div
{
	visibility	: visible; 
	margin-top	: -30px; 
	transition	: 0.2s;
	opacity		: 1;
}

.info_foto
{
	visibility	: hidden; 
	position	: absolute; 
	width		: 140px;
	height		: 20px; 
	background	: #b82b2b;
	color		: #fff; 
	padding		: 5px; 
	text-align	: center;
	opacity		: 0;
	transition	: 0.2s; 
}

#wrapper_info
{
	margin		: auto; 
	width		: 190px;
	height		: 30px;
	background	: #fff;
	padding		: 5px;
}

.pesan, .atur_akun
{
	width		: 30px;
	height		: 30px;
	background	: #000;
}

.atur_akun
{
	margin-left: 50px;
}

#wrapper_bottom_menu
{
	width		: 240px;
	height		: auto;
	padding		: 10px; 
	background	: #fff;
}

/*COPYRIGHT KU STUDIOS*/