.login_form
{
	background-repeat	: no-repeat;
	position			: relative;
	margin 				: -50px;
	width				: 217px;
	height				: 120px;
}

.logo 
{
	background 			: #ff0000;
	position			: relative;
	margin 				: -30px 0px -50px;
	width				: 200px;
	height				: 100px;
}

#wrapper_login
{
	margin		: auto;
	margin-top	: 130px; 
	padding		: 50px; 
	width		: 400px;
	height		: 260px;
	background	: #f8f8f8;
	border 		: 2px solid #b82b2b;
}

#tooltip_username, #tooltip_password, #tooltip_nama, #tooltip_pesan
{
	visibility  : hidden;
	margin-top  : 7px;
	position	: absolute;
	color 		: #fff;
	padding		: 7px 10px;
	background 	: #333;
	opacity		: 0; 
}

#tooltip_pesan
{
	width		: 380px; 
	margin-top  : -29px;
	text-align	: center;
}

#tooltip_username:before, #tooltip_password:before, #tooltip_nama:before
{
	position		: absolute;
	content			: "";
	height			: 0;
	width			: 0;
	border 			: 10px solid transparent;
	bottom			: 25px;
	border-bottom 	: 10px solid #333;
}

input[type="text"],	input[type="password"],	button
{
	padding		: 10px; 
	width		: 400px;
	border 		: 1px solid;
	outline 	: none;
	font-family	: Corbel; 
}

input[type="text"],	input[type="password"]
{
	position		: relative;
	display			: inline-block;
	border-color	: #b82b2b;
}

input[type="text"]:focus, input[type="password"]:focus
{
	border : 1px dotted #b82b2b;
}

button
{
	background		: #b82b2b;
	color 			: #fff;
	cursor 			: hand;
	border-color 	: #000;
}

button:hover
{
	background	: #fff;
	color 		: #000;
	cursor 		: hand;
	border		: 1px dotted #b82b2b;
}

button:focus
{
	background	: #fff;
	color 		: #000;
	cursor 		: hand;
	border		: 1px dotted #b82b2b;
}

label
{
	padding		: 5px;
	background 	: #b82b2b;
	color 		: #fff;
}

span{font-size: 12px;}

/*COPYRIGHT KU STUDIOS*/